body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}

body main {
    width: 80%;
    float: left;
    padding-bottom: 4rem;
}

body main .titulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 3.5rem;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 2rem;
    border-bottom: .5rem solid #000;
}

body main .container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 0;
    margin-bottom: 4rem;
}

body main .container .subtitulo-texto,
h3,
h4 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

body main .container .subtitulo-texto {
    font-size: 2rem;
    clear: both;
}

body main .container h3 {
    margin-top: 1.5rem;
}

body main .container p {
    text-align: justify;
    margin: 1.5rem 0;
}

body main .container strong {
    font-weight: bold;
}

body main .container em {
    font-style: italic;
}

body main .container ul {
    margin: 1.5rem 0;
}

body main .container li .seta-direita:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: .07rem;
    width: 0; 
    height: 0; 
    
    border-top: .4rem solid transparent;
    border-bottom: .4rem solid transparent;
    border-left: .4rem solid rgb(8, 8, 8);
}

body main .container a {
    font-style: italic;
    font-weight: bold;
    color: #070608;
    text-decoration: none;
}

body .minha-foto {
    position: absolute;
    top: 0;
    right: 0;
    height: 18.1rem;
    width: 18.1rem;
}

body .minha-foto,
.navegacao-site {
    border-left: .5rem solid black;
    border-bottom: .5rem solid black;
    box-sizing: border-box;
}

body .navegacao-site {
    width: 20%;
    float: right;
    position: relative;
    top: 18.1rem;
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 1.5rem;
}

body .navegacao-site h1 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

body .navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: lowercase;
}

body .navegacao-site .icones-redes-sociais li {
    display: inline-block;
}

body .navegacao-site .icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

body .navegacao-site .icones-redes-sociais .github {
    background-image: url(../img/github.png);
}

body .navegacao-site .icones-redes-sociais .linkedin {
    background-image: url(../img/linkedin.png);
}

body .rodape-pagina {
    background-color: #000;
    color: #F2FFFC;
    padding: 1.5rem;
    clear: both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

body .rodape-pagina em {
    color: aqua;
}

@media (max-width: 768px) {

    body main {
        width: 100%;
        padding-bottom: 4rem;
        position: relative;
    }

    body main .container {
        margin-left: 2rem;
        margin-right: auto;
        padding: 1.5em 0;
    }

    body .minha-foto {
        position: absolute;
        top: 9.7rem;
        right: 0;
        height: 12rem;
        width: 12rem;
    }

    body .navegacao-site {
        width: 10rem;
        left: 80%;
        right: 0;
        position: absolute;
        top: 21.7rem;
        text-align: center;
        background-color: #3C1D3D;
        color: #F2FFFC;
        padding: 1.5rem;
    }
}
@media (max-width: 414px) {

    body main {
        width: 100%;
        padding-bottom: 4rem;
        position: relative;
    }

    body .minha-foto,
    .navegacao-site {        
        border-right:.5rem solid black;
        box-sizing: border-box;
    }

    body main .container {
        position: absolute;
        top: 27rem;
        margin-left: 3rem;
        margin-right: auto;
        padding: 1.5em 0;
        margin-bottom: 8rem;
    }

    body .minha-foto {
        position: absolute;
        top: 15rem;
        right: 50%;
        height: 12rem;
        width: 50%;
    }

    body .navegacao-site {
        width: 50%;
        left: 50%;
        right: 0;
        top: 15rem;
        height: 12rem;
        position: absolute;
        text-align: center;
        background-color: #3C1D3D;
        color: #F2FFFC;
        padding: 1.5rem;
    }
    
    body .rodape-pagina {
        padding: .5rem;
        font-size: 1;
        height: 6rem;
    }
}
@media (max-width: 375px) {

    body main {
        width: 100%;
        padding-bottom: 4rem;
        position: relative;
    }

    body main .titulo-principal {
        font-size: 2.5rem;
        padding: 1.5rem;
    }

    body .minha-foto,
    .navegacao-site {        
        border-right:.5rem solid black;
        box-sizing: border-box;
    }

    body main .container {
        position: absolute;
        top: 20rem;
        margin-left: 3rem;
        margin-right: auto;
        padding: 1.5em 0;
        margin-bottom: 6rem;
    }

    body .minha-foto {
        position: absolute;
        top: 10.9rem;
        right: 50%;
        height: 10rem;
        width: 50%;
    }

    body .navegacao-site {
        width: 50%;
        left: 50%;
        right: 0;
        top: 10.9rem;
        height: 10rem;
        position: absolute;
        text-align: center;
        background-color: #3C1D3D;
        color: #F2FFFC;
        padding: 1.5rem;
    }
    body .navegacao-site h1 {
        font-size: 1.5rem;
        margin-bottom: .5rem;
    }

    body .rodape-pagina {
        padding: .5rem;
        font-size: 1;
        height: 6rem;
    }
}